{% extends "base.html" %}
{% block title %}Register{% endblock %}
{% block register_active %}active{% endblock %}

{% block content %}
<div class="collapse navbar-collapse" id="ftco-nav">
  <ul class="navbar-nav mr-auto">
    {% if user.is_authenticated %}
    <li class="nav-item active"><a href="{% url 'home' %}" class="nav-link pl-0">Home</a></li>
    <li class="nav-item"><a href="{% url 'project_app:logout_user' %}" class="nav-link">Log out</a></li>
    {% else %}
    <li class="nav-item"><a href="{% url 'home' %}" class="nav-link pl-0">Home</a></li>
    <li class="nav-item"><a href="" class="nav-link">Contact</a></li>
    <li class="nav-item"><a href="" class="nav-link">About</a></li>
    <li class="nav-item"><a href="" class="nav-link">Courses</a></li>
    <li class="nav-item"><a href="" class="nav-link">Staff</a></li>
    <li class="nav-item"><a href="{% url 'project_app:register' %}" class="nav-link">Sign Up</a></li>
    <li class="nav-item"><a href="{% url 'project_app:login_user' %}" class="nav-link">Sign In</a></li>
    {% endif %}
  </ul>
</div>
</div>
</nav>
<!-- <div class="container-fluid">

    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Register for an Account</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form class="form-horizontal" role="form" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                        {% include 'project_app/form_template.html' %}
                        <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="panel-footer">
                    Already have an account? <a href="{% url 'project_app:login_user' %}">Click here</a> to log in.
                </div>
            </div>
        </div>
    </div>
</div> -->
<section class="mb-4">
  <div class="row wow fadeIn">
    <div class='col-6 offset-3'>
      <h1></h1>
      <form class="signup" id="signup_form" method="post" action="">
        {% csrf_token %}
        {% include 'project_app/form_template.html' %}
        <button type="submit" value="Request A Quote" class="btn btn-primary py-3 px-4">Submit</button>
      </form>
      <p>Already have an account? <a href="{% url 'project_app:login_user' %}">Click here</a> to log in.</p>
    </div>
  </div>
</section>
{% endblock %}
